---
title: Simple Google Drive CMS w/ Middleman
---
<h1>Middleman w/ Google Drive</h1>
<h2>A free API example</h2>
<% data.Sheet1.each do |row| %>
  <div class="post <%= row.type.downcase %>">
  <%# <% require 'pry'; binding.pry %>
  <div class="post__head" style="<%= row.image ? "background: url('images/#{row.image}') no-repeat; background-size: cover;" : "" %>">
      <h3><%= row.title %></h3>
      <%# <% if row.image %>
      <%#   <%= image_tag "#{row.image}", :class => "post__head-image" %>
      <%# <% end %>
    </div>
    <p><%= row.body %></p>
<% end %>
