---
title: Simple Google Drive CMS w/ Middleman
---
<h1>Middleman w/ Google Drive</h1>
<h2>A free API example</h2>
<% data.Sheet1.each do |row| %>
  <div class="post <%= row.type.downcase %>">
  <div class="post__head page-header" style="<%= row.image ? "background: url('images/#{row.image}') no-repeat; background-size: cover;" : "" %>">
    <h3><%= row.title %></h3>
  </div>
  <div class="post__body well">
    <% if row.image %>
      <div class="post__body-image">
        <%= image_tag "#{row.image}", :class => "img-thumbnail" %>
      </div>
    <% end %>
    <div class="post__body-copy">
      <p><%= row.body %></p>
    </div>
  </div>
  <h4 class="post__tags">
    <span class="label label-default">
      <%= row.type %>
    </span>
  </div>
<% end %>
